<iframe ng-if="$ctrl.isVideoAvailable" width="800" height="450" ng-src="{{$ctrl.video.videoId | trustYoutube}}"
         frameborder="0" allowfullscreen></iframe>
<div ng-if="!$ctrl.isVideoAvailable" class="item-message">
    <h2 class="not-availalbe">YouTube video is not available</h2>
</div>