<div class="video-feed">
	<ul class="video-entries">
        <li ng-repeat="video in $ctrl.videos"
            class="video-feed-item">
            <div class="header">
	          	<div class=title>{{video.title}}</div>
				<div class="views">{{video.views | views}} views</div>
			</div>
            <div class="video">
                <div class="placeholder"></div>
                <pb-youtube-item ng-if="video.source === 'youtube'" video="video" class="youtube-video item-player"></pb-youtube-item>
                <pb-facebook-item ng-if="video.source === 'facebook'" video="video" class="facebook-video item-player"></pb-facebook-item>
                <pb-video-item ng-if="video.source === 'url'" video="video" class="html5-video item-player"></pb-video-item>
            </div>
        </li>
      </ul>
</div>