.video-feed-item.ng-enter,
.video-feed-item.ng-leave,
.video-feed-item.ng-move {
  transition: 0.4s ease-out all;
}

.video-feed-item.ng-enter,
.video-feed-item.ng-move {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.video-feed-item.ng-enter.ng-enter-active,
.video-feed-item.ng-move.ng-move-active {
  height: 510px;
  opacity: 1;
}

.video-feed-item.ng-leave {
  opacity: 1;
  overflow: hidden;
}

.video-feed-item.ng-leave.ng-leave-active {
  height: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}