body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  padding: 20px 20px 18px;
  background-color: #eee;
  border-bottom: 2px solid #ddd;
}

pb-title {
  display: block;
  text-align: center;
  color: #999;
  font-family: Helvetica, Arial, Sans-Serif;
  font-weight: 600;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
@media (min-width:992px) {
  .container {
    width: 950px;
  }
}
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.video-entries {
  text-align: center;
}

.video-feed-item {
  width: 800px;
  margin: 40px 0 15px;
  display: inline-block;
}

.video-feed-item > .header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #ddd;
  color: #777;
}

.video-feed-item > .header .title {
  font-weight: 600;
}

.video-feed-item > .video {
  position: relative;
  height: 450px;
}

.video-feed-item > .video .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #ddd;
  border-top-width: 0;
}

.video-feed-item .item-message {
  line-height: 450px;
}

.video-feed-item .item-message .not-availalbe {
  vertical-align: middle;
  margin: 0;
  color: #777;
  background-color: #eee;
  box-shadow: inset 0 0 3px #ccc;
}

.item-player {
  position: relative;
}

.html5-video video {
  object-fit: fill;
}